<a href="https://colab.research.google.com/github/deekshaceeti/MachineLearning/blob/main/q2to4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [79]:
my_list = [10,20,30,40,50,60,70,80,90,100]
for i in my_list [1::2]:
  print(i,end="")

20406080100

In [53]:
x=[23, 'python', 23.98]
types = []
for i in x:
  types.append(type(i))
  print(x)
  print(types)

[23, 'python', 23.98]
[<class 'int'>]
[23, 'python', 23.98]
[<class 'int'>, <class 'str'>]
[23, 'python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

In [54]:
def count_case(string):
  upper_count = 0
  lower_count = 0
  for char in string:
    if char.isupper():
      upper_count += 1
    elif char.islower(): 
      lower_count += 1 
      return upper_count, lower_count

input_string = 'The quick Brow Fox'
upper_count, lower_count = count_case(input_string) 

print("No. of upper-case characters:", upper_count)
print("No. of lower-case characters:", lower_count)

No. of upper-case characters: 1
No. of lower-case characters: 1

In [55]:
Sample_List=[1,2,3,3,3,3,4,5]
Unique_List=[]
for i in Sample_List:
  if i not in Unique_List:
    Unique_List.append(i)
print(Unique_List)

[1, 2, 3, 4, 5]